* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  background: #f5f6f8;
  color:#333;
  margin: 0;
  padding: 24px 16px;
}

footer {
  position: fixed;
  bottom : 0;
  left: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
  color: #777;
}

.app-header {
    background-color: #fff;
    padding: 16px 20px;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #f8f8f8;
    border-radius: 10px;
    position:sticky;
    top: 0;
    z-index: 10;
}

.dashboard {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 90px; /* para evitar sobreposição do footer */
}

.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  flex-wrap: wrap; /* permite quebrar linha em telas menores */
  flex-direction: row;

  .card {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    flex: 1;
    min-width: 150px; /* largura mínima para não ficar muito pequeno */
    min-height: 100px; /* altura mínima para não ficar muito pequeno */
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  
  .card .emoji {
    font-size: 25px;
    margin-bottom: 5px;
    text-align: left;
  }

  .card h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .card .status-ganho {
    margin-top: 10px;
    font-size: 14px;
    background-color: rgb(70, 189, 70);
    color: #043d15;
    font-weight: bold;
    border-radius: 5px;
  }

  .card .status-perda {
    margin-top: 10px;
    font-size: 14px;
    background-color: rgb(255, 70, 70);
    color: #3d0404;
    font-weight: bold;
    border-radius: 5px;
  }

}

.chart-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  .active {
    background: #3399ff;
    color: #fff;
  }  

}

.chart-buttons button {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #ddd;
  cursor: pointer;
  font-weight: bold;
}

.chart-buttons button.active {
  background: #3399ff;
  color: #fff;
}


.chart-area {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* Relatório */
.report {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
}

/* Media queries para telas menores */
@media (max-width: 768px) {
  .cards {
    flex-direction: column; /* empilha os cards */
  }

  .charts {
    flex-direction: column; /* empilha os gráficos */
  }
}
