*{
    font-family: monospace;
}

h2{
    margin-bottom: 15px;
    width: 100%;
}


.line{
    width: 98%;
    background-color: black;
    height: 1px;
    margin-bottom: 10px;
}

.card-treino{
    display: flex;
    position: relative;
    flex-direction: column;
    color: white;
    gap: 0px;
    padding-left: 20px;
    background-color: dodgerblue;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(192, 185, 185, 0.886);
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 15px;

    .treino-atual{
        font-size: small;
        margin-bottom: 5px;
    }

    .treino-atual-num{
        position: absolute;
        right: 30px;
        top: 10px;
        background-color: rgb(6, 164, 255);
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 20px;
    }

    p{
        gap: 0px;
        font-size: large;
        margin: 5px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .progress-bar{
        width: 95%;
        background-color: #f3f3f3;
        border-radius: 5px;
        overflow: hidden;
        height: 18px;
    }

    .progress{
        height: 18px;
        background-color: blue;
        width: 0;
        margin: 0;
        transition: width 0.4s ease;
    }
}

.card-treino:hover{
    box-shadow: 3px 3px 3px 3px rgba(192, 185, 185, 0.886);

}

.treino-livre{
    padding: 10px;
    button{
        width: 100%;
        padding: 10px;
        border-radius: 20px;
        border: 0;
        color: white;
        cursor: pointer;
        background-color: blueviolet;
        box-shadow: 2px 2px 2px rgba(192, 185, 185, 0.886);
    }
    button:hover{
        box-shadow: 3px 3px 3px 3px rgba(192, 185, 185, 0.886);
    }
}

.grupo-muscular{
    gap: 10px;
    
}

.box-exercicio{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(192, 185, 185, 0.886);
    border-radius: 15px;
}

.box-exercicio:hover{
    box-shadow: 3px 3px 3px 3px rgba(192, 185, 185, 0.886);
}

.edit{
    position: absolute;
    right: 20px;
    top: 20px;
    color: gray;
    font-size: 20px;
    width: 25px;
    height: 25px;
}

.edit:hover{
    color: black;
}

.container{
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    padding-left: 28px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.container:has(input:checked) ~ .nome-exercicio {
  text-decoration: line-through;
  opacity: 0.6;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.grupo-muscular{
    p{
        color: gray;
        padding: 5px;
    }
    .carga{
        color: blue;
    }
}
