.filtro{
    width: 100%;
    margin: 10px;
    margin-top: 15px;
    h3{
        font-size: 15px;
    }
    .filtros{
        display: flex;
        align-items: center;
        gap: 20px;
        width: 80%;
        max-width: 550px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 2px rgb(120, 119, 119);
        flex-wrap: wrap;
    }
    .tipo{
        cursor: pointer;
        padding: 8px;
        font-weight: bold;
        border-radius: 10px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    .tipo:hover{
        transform: translateY(-3px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    }
    .selecionado{
        background-color: blue;
        color: white;
        font-weight: bold;
        border-radius: 10px;
    }
}