* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f8f9fc;
    color: #333;
    margin: 0;
}

/* Garante que os modals fiquem sempre acima do header */
.modal {
    z-index: 1050 !important;
}

.modal-backdrop {
    z-index: 1049 !important;
}
